@import '../../bower_components/normalize.css/normalize.css';

*
    -webkit-user-select:none
    -webkit-tap-highlight-color:rgba(255,255,255,0)
    -webkit-menu-callout:none

.clearfix:after
    visibility: hidden
    display: block
    font-size: 0
    content: " "
    clear: both
    height: 0
    
.clearfix
    display:inline-table
    height:1%
    display:block

.ng-cloak
    display:none

animation(time,name,delay)
    -webkit-animation-duration:time
    -webkit-animation-name:name
    -webkit-backface-visibility: hidden
    -webkit-animation-timing-function: ease
    -webkit-animation-fill-mode: both
    -webkit-animation-delay:delay

image-auto(image)
    background-image:url('/static/image/'+image)
    background-position:center
    background-repeat:no-repeat

@-webkit-keyframes pull-up
    0%
        -webkit-transform:translateY(0.6rem)
    100%
        -webkit-transform:translateY(0rem)
        
@-webkit-keyframes tab-left 
    0%
        -webkit-transform:translateX(0)
    100%
        -webkit-transform:translateX(-0.5rem)

@-webkit-keyframes tab-right 
    0%
        -webkit-transform:translateX(0)
    100%
        -webkit-transform:translateX(1rem)
        
@-webkit-keyframes filter-background-in
    0%
        opacity:0
    100%
        opacity:1

@-webkit-keyframes filter-down
    0%
        -webkit-transform:translateY(-2rem)
    100%
        -webkit-transform:translateY(0)

@-webkit-keyframes tab-first
    0%
        -webkit-transform:translateX(-1rem)
    100%
        -webkit-transform:translateX(0)

@-webkit-keyframes tab-second 
    0%
        -webkit-transform:translateX(1rem)
    100%
        -webkit-transform:translateX(0)
        
@-webkit-keyframes tab-third
    0%
        -webkit-transform:translateX(1rem)
    100%
        -webkit-transform:translateX(0)
        
@-webkit-keyframes rotate
    0%
        -webkit-transform:rotate(0deg)
    100%
        -webkit-transform:rotate(360deg)
        
body
    margin:0
    font-size:0.04rem
    background-color:#f5f5f5
    .first-view.ng-hide
        animation(0.5s,'tab-left',0s)
        
    .second-view.ng-hide
        animation(0.5s,'tab-right',0s)

    .second-view.changeToCity.ng-hide
        animation(0.5s,'tab-left',0s)
        
    #map
        width:100%
        height:100%
        position:absolute
    .message
        width:92%
        margin-left:0.04rem
        height:0.4rem
        position:absolute
        bottom:0.04rem
        background-color:#fff
        border:1px solid #dcdcdc
        animation(0.2s,'pull-up',0s)
        
    .nav
        height:0.15rem
        width:100%
        position:absolute
        background-color:#fff
        z-index:5
        .go-left
            image-auto('go-left.png')
            background-size:20%
            width:0.15rem
            height:0.15rem
            float:left
        .address
            .location-address
                font-size:0.042rem
                float:left
                text-align:center
                color:#ff8738
                height:0.15rem
                width:0.5rem
                margin-left:0.1rem
                margin-right:0.05rem
                line-height:0.15rem
                .change-city
                    image-auto('pull-right.png')
                    background-size:auto 100%
                    width:0.04rem
                    height:0.04rem
                    position:absolute
                    top:0.055rem
                    margin-left:0.02rem
            .location-icon
                image-auto('location.png')
                background-size:100% auto
                height:0.15rem
                width:0.04rem
                position:absolute
                margin-left:0.06rem
            float:left
            width:0.65rem
            text-align:center
            height:0.15rem
            line-height:0.15rem
            overflow:hidden
            text-overflow:ellipsis
            white-space:nowrap
        .more
            float:left
            width:0.2rem
            height:0.15rem
            line-height:0.15rem
            .text
                font-size:0.045rem
                float:left
            .more-icon-down
                image-auto('pull-down.png')
                background-size:80% auto
                float:left
                height:0.15rem
                width:0.03rem
                margin-left:0.01rem
            .more-icon-up
                image-auto('pull-up.png')
                background-size:80% auto
                float:left
                height:0.15rem
                width:0.03rem
                margin-left:0.01rem
    .filter-background
        position:absolute
        width:100%
        height:100%
        top:0.15rem
        background:rgba(0,0,0,0.8)
        z-index:3
    .filter
        position:absolute                
        width:100%
        height:70%
        overflow:scroll
        background-color:#fff
        border-bottom:1px solid #dcdcdc
        animation(0.5s,'filter-down',0s)
        z-index:1
        .subject
            background-color:#f5f5f5
            .subject-title
                font-size:0.046rem
                color:#333
                padding:0.02rem 0
                padding-left:0.04rem
            .subject-wrap
                border-left:1px solid #dcdcdc
                max-width:92%
                margin-left:0.04rem
                .subject-sub
                    background-color:#fff
                    display:inline-table
                    height:0.06rem
                    font-size:0.038rem
                    color:#777
                    width:0.2275rem
                    border-right:1px solid #dcdcdc
                    border-bottom:1px solid #dcdcdc
                    line-height:0.09rem
                    text-align:center
                    &:nth-child(1)
                        border-top:1px solid #dcdcdc
                    &:nth-child(2)
                        border-top:1px solid #dcdcdc
                    &:nth-child(3)
                        border-top:1px solid #dcdcdc
                    &:nth-child(4)
                        border-top:1px solid #dcdcdc
    .close
        position:absolute
        width:0.12rem
        height:0.12rem
        image-auto('close.png')
        background-size:auto 100%
        top:70%
        margin-top:0.09rem
        left:0.44rem
        animation(0.5s,'filter-down',0s)
    #go-back
        position:absolute
        left:0.04rem
        bottom:0.5rem
        width:0.15rem
        height:0.15rem
        image-auto('go-back.jpg')
        background-size:100% auto
        z-index:1
    .first-view
        position:absolute
        height:100%
        width:100%
    .first-view-animation
        animation(0.5s,'tab-first',0s)
    .second-view
        animation(0.5s,'tab-second',0s)
        position:absolute
        height:100%
        width:100%
    .third-view
        position:absolute
        height:100%
        width:100%
        animation(0.5s,'tab-third',0s)
    #search-background
        position:absolute
        top:0.15rem
        width:100%
        height:100%
        background-color:#f5f5f5
        .input-area
            width:100%
            height:0.18rem
            border-bottom:1px solid #dcdcdc
            background:#fff
            #search-icon
                image-auto('search-icon.png')
                position:absolute
                left:0.04rem
                top:0.03rem
                width:0.08rem
                height:0.09rem
                background-size:60% auto

            #address-input
                width:82%
                padding-top:0.01rem
                padding-bottom:0.01rem
                margin-left:0.04rem
                margin-top:0.02rem
                padding-left:0.08rem
                height:0.09rem
                border-radius:0
                background-color:#f5f5f5
                border:none
                line-height:0.09rem
                -webkit-user-select:initial
    #location-result
        position:absolute
        width:100%
        margin-top:0.05rem
        background:#fff
        border-top:1px solid #dcdcdc
        #get-position
            width:100%
            height:0.15rem
            border-bottom:1px solid #dcdcdc
            .position-icon
                image-auto('position-icon.png')
                background-size:auto 40%
                height:inherit
                width:0.09rem
                color:#333
                float:left
                margin-left:0.04rem
            .text
                float:left
                line-height:0.15rem
                height:0.15rem
                font-size:0.04rem
                margin-left:0.03rem
        .location
            margin:0.04rem
            border-bottom:1px solid #dcdcdc
            padding-bottom:0.04rem
            .title
                font-size:0.041rem
                color:#333
            .address
                font-size:0.038rem
                color:#777
                padding-top:0.01rem
            &:last-child
                padding-bottom:0
                border-bottom:none
                border-bottom:1px solid #dcdcdc
    .city-details
        margin-top:0.15rem
        .city-detail
            padding:0.02rem
            height:0.07rem
            border-bottom:1px solid #dcdcdc
            font-size:0.045rem
            text-align:left
            background:#fff
            line-height:0.07rem

